<!-- app/views/books/new.html.erb -->

<h2>書籍の手動登録</h2>

<p class="text-muted small">
  ISBN検索で書誌情報が取得できなかった場合は、ここから手動で登録してください。
</p>

<%= form_with model: @book, local: true do |form| %>
  <!-- ISBN 必須 -->
  <div class="mb-3">
    <%= form.label :isbn13, "ISBNコード（必須）" %><br>
    <%= form.text_field :isbn13,
          class: "form-control",
          required: true %>
  </div>

  <!-- 書名 必須 -->
  <div class="mb-3">
    <%= form.label :title, "書名（必須）" %><br>
    <%= form.text_field :title,
          placeholder: "例: ねじまき鳥クロニクル〈第1部〉泥棒かささぎ編",
          class: "form-control",
          required: true %>
  </div>

  <!-- 著者名 必須 -->
  <div class="mb-3">
    <%= form.label :author_name, "著者名（必須）" %><br>
    <%= form.text_field :author_name,
          placeholder: "例: 村上 春樹",
          class: "form-control",
          required: true %>
  </div>

  <!-- 出版社 必須 -->
  <div class="mb-3">
    <%= form.label :publisher, "出版社（必須）" %><br>
    <%= form.text_field :publisher,
          placeholder: "例: 新潮社",
          class: "form-control",
          required: true %>
  </div>

  <div class="mt-3">
    <%= form.submit "書籍を登録", class: "btn btn-primary" %>
  </div>
<% end %>
